/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* GLOBAL */
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f0f18, #1c1c2e);
    color: #f5f5f5;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 1.25rem;
    color: #00f5d4;
}

.navbar a {
    color: #f5f5f5;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00f5d4;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.contact-icons a {
    font-size: 1.5rem;
}

.contact-icons a:hover {
    transform: scale(1.2);
}

/* RESPONSIVE DESIGN */

@media (max-width: 1024px) {
    .navbar {
        padding: 20px 40px;
    }

    .projects {
        padding: 60px 40px;
    }
}

@media (max-width: 768px) {

    /* NAVBAR STACK */
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    /* HERO TEXT SMALLER */
    .hero h1 {
        font-size: 2.2rem;
    }

    .hero {
        padding: 100px 20px 60px;
    }

    /* PROJECT SECTION PADDING */
    .projects {
        padding: 40px 20px;
    }

    /* GRID FULL WIDTH */
    .project-grid {
        grid-template-columns: 1fr;
    }

    /* CONTACT */
    .contact {
        padding: 60px 20px;
    }
}

@media (max-width: 480px) {

    .hero h1 {
        font-size: 1.8rem;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .project-card img {
        height: 180px;
    }
}
