/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* GLOBAL */
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f0f18, #1c1c2e);
    color: #f5f5f5;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: #00f5d4;
}

.navbar a {
    color: #f5f5f5;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00f5d4;
}